{% capture footer_custom %}
  {%- include footer_custom.html -%}
{% endcapture %}
{% if footer_custom != "" or site.last_edit_timestamp or site.gh_edit_link %}
  <hr>
  <footer>

    <script src="https://utteranc.es/client.js"
            repo="ghkdqhrbals/portfolios"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>

    {% if site.back_to_top %}
      <p><a href="#top" id="back-to-top">{{ site.back_to_top_text }}</a></p>
    {% endif %}

    {{ footer_custom }}
  </footer>
{% endif %}
